*.pydevproject
.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

*.launch
*.DS_Store

# PDT-specific
.buildpath
/.project
/wp-config.php
